# Define code owners for specific files and directories

# File pattern               Owner(s)
<file_or_directory_pattern>  @github_username @github_team


# All files in the project
*                         @gits5213

# Ownership of specific directories
/pom/                     @gits5213
/utilities/               @gits5213
/data/                    @gits5213

# Ownership of specific file types
*.js                      @gits5213

# Ownership of specific files
README.md                 @gits5213
package.json              @gits5213
Dockerfile                @gits5213
